/* 

theme mane: first theme 
theme url: mdfoysal.com/theme/download/first theme
author: md foysal
author url: mdfoysal.com
Description: this is my first theme
version: 1.0.0.1
license: Public License v2 or later
tags: blog,travel,potfolio,
text domain: my first theme


 */