/*
theme mane: First Theme 
theme url: mdfoysal.com/theme/download/first-theme
author: md foysal
author url: mdfoysal.com
Description: this is my first theme
Version: 1.0.0
license: Public License v2 or later
tags: blog,travel,potfolio,
text domain: wpproject
*/