header.header-wrapper {
    background: #222;
}

nav.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
}

nav.nav-menu ul li {
    display: inline-block;
    padding: 15px 5px;
}

nav.nav-menu ul li a {
    color: #fff;
    font-size: 16px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: 0.3s;
}

nav.nav-menu ul li a:hover {
    background: #c0392b;
    border-radius: 3px;
}

.header-wrapper .logo-area h2 {
    margin-bottom: 0px;
    margin-top: 10px;
}

.header-wrapper .logo-area h2 a {
    text-decoration: none;
    color: #fff;
    font-size: 42px;
    text-transform: uppercase;
}

/* Hero area style  */
.hero-area {
    padding: 150px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-area h2 {
    text-align: center;
    font-size: 38px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 20px;
}
.hero-area p {
    font-size: 18px;
    color: #fff;
    line-height: 32px;
}

.hero-area .hero-button-area {
    text-align: center;
    margin: 40px;
}

a.btn {
    background: #222;
    border-radius: 0;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.hero-area .hero-button-area a.btn-left {
    margin-right: 10px;
    background: #e74c3c;
    transition: 0.3s;
}
.hero-area .hero-button-area a.btn-left:hover {
    background: #c0392b;
}

.hero-area .hero-button-area a.btn-right {
    margin-left: 10px;
    transition: 0.3s;
}

.hero-area .hero-button-area a.btn-right:hover {
    background: none;
    border: 1px solid #e74c3c;
}

.hero-button-area a i {
    padding-right: 10px;
    font-size: 20px;
}
header.header-wrapper {
    background: #e74c3c;
}
/* footer part */

footer.footer-wraper {
    padding: 20px 0px;
    background: #222;
}

footer.footer-wraper .footer-inner h4 {
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

footer.footer-wraper .footer-inner ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer.footer-wraper .footer-inner ul li {
    padding: 3px 0px;
    border-bottom: 1px solid #444;
}

footer.footer-wraper .footer-inner ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    transition: 0.3s;
}
footer.footer-wraper .footer-inner ul li a:hover {
    color: #e74c3c;
}

footer.footer-wraper .footer-inner ul li:last-child {
    border-bottom: 0px solid #444;
}

footer.footer-wraper .footer-inner p {
    color: #fff;
    padding-top: 3px;
    font-size: 16px;
    font-weight: 300;
}

footer.footer-wraper .footer-inner .social-icon a {
    color: #fff;
    font-size: 24px;
    padding-right: 10px;
}

footer.footer-wraper .footer-inner .social-icon a:last-child {
    padding-right: 0px;
}

footer.footer-wraper .footer-inner .social-icon a i:hover {
    color: #e74c3c;
}

footer.footer-wraper .footer-inner .social-icon a i {
    transition: 0.3s;
}
